<!-- customize --> 
<section id="customize" class="section customize">

	<div class="container">

		<div class="row">

			<div class="col-md-6"><h3 class="section-title">Customize</h3><p>Custom folder structure, and elements used.</p>
			<ul class="list-unstyled">
				<li><strong>Bootstrap (scss)</strong></li>
				<li><strong>Compass</strong></li>
				<li><strong>Fontawesome</strong></li>
				<li><strong>JQuery</strong></li>
				<li><strong>Prism</strong></li>
				<li><strong>Middleman</strong></li>
			</ul>
			</div>
			<div class="col-md-6">

	<!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
	<pre><code class="language-yaml">
	source
	├─ assets
	|  ├─ css
	|  ├─ fonts
	|  ├─ img
	|  └─ js
	├─ images
	├─ layouts
	└─ partials
	</code></pre>

			</div>
		
		</div>
			
	</div>

</section>