<!-- header --> 
<header id="header" class="header">  

	<div class="container">

		<nav>

			<div class="search-box-cont pull-right">

				<a class="search-box-trigger" href="#"><i class="fa fa-search"></i></a>

				<div class="search-box">
					<form>
						<input type="text" placeholder="szukam..." class="form-control" name="search">
						<button class="btn btn-main" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>

			</div>


			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
					<i class="fa fa-bars"></i>
				</button>

				<a class="navbar-brand scrollto" href="#welcome"><span class="logo-title"><%= data.site.title %></span></a>

			</div> 


			<div id="navbar-collapse" class="navbar-collapse collapse pull-right">
				<ul class="nav navbar-nav">
					<% data.nav.menu.each do |m| %>
					<li class="nav-item"><%= link_to m[:menuItem], m[:menuLink], :class => "scrollto" %></li>
					<% end %>
					<li class="nav-item"><a href="https://middlemanapp.com/basics/install/">Docs</a></li>
				</ul>
			</div>

		</nav>

	</div>

</header>
<!--//header-->