<!-- installation --> 
<section id="installation" class="section installation">

	<div class="container">

		<div class="row">

			<div class="col-md-7">

	<!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
	<pre><code class="language-markup">
	$ middleman init -T mars228/middleman-wdt MY_NEW_PROJECT
	or
	$ middleman init MY_NEW_PROJECT --template=mars228/middleman-wdt
	</code></pre>

			</div>

			<div class="col-md-5">
				<h3 class="section-title">Installation</h3>
				<p>In Middleman version 4 custom templates are installed via Github.</p>
			</div>

		</div>

	</div><!--//container-->

</section>