<!-- welcome -->
<section id="welcome" class="section welcome">

	<div class="container text-center">
		
		<div class="logo"><%= image_tag "/images/middleman-logo.svg" %></div>

		<% if build? %>
			<h2>Webpage build</h2>
		<% else %>
			<h2>Middleman is Running</h2>
		<% end %>
		
		<p>Custom Middleman v.4 starter kit for rapid webdesign.</p>

		<p class="btns"><a class="btn btn-outline-inverse btn-lg" href="https://github.com/Mars228/middleman-wdt" target="_blank">View on GitHub</a></p>

	</div>
	
</section>
<!--//welcome-->