<!-- welcome -->
<section id="welcome" class="section welcome">

	<div class="container text-center">
		
		<div class="logo"><%= image_tag "/images/middleman-logo.svg" %></div>

		<% if build? %>
			<h1 class="bold">Webpage build</h1>
		<% else %>
			<h1 class="bold">Middleman is Running</h1>
		<% end %>
		
		<h2>Custom Middleman v.4 starter kit for rapid webdesign.</h2>


		<a class="btn btn-lg btn-inverse outline" href="https://github.com/Mars228/middleman-wdt" target="_blank">View on GitHub</a>
		

	</div>
	
</section>
<!--//welcome-->