/* ======= Header ======= */
.header {
	padding: 10px 0;
	background: $body-bg;
	color: #fff;
	position: fixed;
	width: 100%;
	@include transition (all 0.4s ease-in-out);
	
	&.navbar-fixed-top {
		background: $negative_bg;
		@include transition (all 0.4s ease-in-out);
		z-index: 9999;
		@include box-shadow (rgba(0, 0, 0, 0.6) 0 0 4px);
		.logo {
			a {
				color: $body-bg;
			}
		}
		.main-nav .nav .nav-item a {
			//color: $gray-g7;
			color: #fff;
		}
	}
	
	.logo {
		margin: 0;
		font-size: 26px;
		padding-top: 10px;
		font-family: $font-title;
		font-weight: 700;
		a {
			color:#fff;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.main-nav {      
		button {
			background: shade($body-bg, 30%);
			color: #fff !important;
			@include border-radius(4px);
			&:focus {
				outline: none;
			}
			.icon-bar {
				background-color: #fff;
			}
		}
		.navbar-collapse {
			padding: 0;
		}
		.nav {
			.nav-item {
				font-weight: normal;
				margin-right: 30px;
				font-family: $font-title;
				&.active {
					a {
						color: $body-bg;
						background: none;
					}
				}
				a {
					color: shade($body-bg, 20%);
					@include transition (none);
					font-size: 14px;
					padding: 15px 10px;
					&:hover {  
						color: shade($body-bg, 30%);    
						background: none;             
					}
					&:focus {
						outline: none;
						background: none;
					}
					&:active {
						outline: none;
						background: none;
					}
				}    
				&.active {
					color: $body-bg;             
				}
				&.last {
					margin-right: 0;
				}
			}
			
		}
		
	}
	
}