/* --------------------------------------------------
/ Welcome: > 992 px
/ ------------------------------------------------ */

.welcome {
	background-color: $body-bg;

	.logo {

		img {
			height: 18.75em;
			margin: 3em 0;
		}
	}


	h1 {
		color: $color-contrast;
	}

	h2 {
		color: rgba(0, 0, 0, 0.45);
		padding: 1em 0 2em 0;
	}

}

/* --------------------------------------------------
/ Welcome: 481 - 992 px
/ ------------------------------------------------ */
@media only screen and (max-width: $screen-md-max) {


}


/* --------------------------------------------------
/ Welcome: 0 - 480 px
/ ------------------------------------------------ */
@media only screen and (max-width: $screen-xs-max) {


}